* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#feature {
    scroll-margin-top: 80px;
}

#home {
    scroll-margin-top: 76px;
}

#blog,
#products {
    scroll-margin-top: 11px;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */
@keyframes fade {
    0% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
    }
}

button,
input {
    font-family: inherit;
    font-size: inherit;
}

button {
    background: none;
    outline: none;
    border: none;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    border-radius: 8px;
    background-color: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: background-color 0.1s linear;
}

.btn:hover {
    background-color: #7264d6;
}

.section-label {
    color: #696d77;
    line-height: 1.75;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.section-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 12px;
}

.section-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* Header */
.header {
    padding: 42px 0 12px;
}

.header.sticky {
    position: sticky;
    top: -30px;
    background-color: #fff;
    z-index: 2;
}

.header__cta,
.nav__list,
.header__content,
.header__inner {
    display: flex;
    align-items: center;
}

.header__inner {
    justify-content: space-between;
}

.nav__list {
    margin-left: 46px;
}

.nav__list-link {
    padding: 4px 24px;
    color: #696d76;
    line-height: 1.75;
    transition: color 0.2s linear, font-weight 0.2s linear;
}

.nav__list-link::after {
    content: "";
    display: block;
    opacity: 0;
    border-radius: 0.5px;
    background: #7264d6;
    height: 1px;
    width: 100%;
    transition: opacity 0.2s linear;
}

.nav__list-link:hover {
    color: #212832;
    font-weight: 600;
}

.nav__list-link:hover::after {
    opacity: 1;
}

.header__cta {
    column-gap: 20px;
}

.header__cta-link {
    padding: 4px 8px;
    color: #212832;
    font-weight: 600;
    line-height: 1.75;
}

.header__cta-btn {
    --height: 52px;
    border-radius: 6px;
}

/* Hero */
.hero {
    padding: 64px 0 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    margin-top: 12px;
}

.hero__heading-modify {
    color: #7264d6;
}

.hero-form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    border: none;
    outline: none;
    width: 60%;
    height: 100%;
    padding: 0 8px 0 15px;
    color: #696d76;
}

.hero-form__input::placeholder {
    color: #696d76;
    line-height: 1.75;
}

.hero-form__btn {
    min-width: 149px;
    background: #7264d6;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    width: 49%;
    padding-left: 100px;
}

.phone__wrap {
    position: relative;
    width: 296px;
}

.phone-img {
    width: 100%;
}

.phone__inner {
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 42px;
}

.card {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
    padding: 16px;
    position: relative;
    overflow: hidden;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
}

.card::before {
    content: url(../images/card-decor-1.svg);
    top: 0;
}

.card::after {
    content: url(../images/card-decor-2.svg);
    bottom: -3px;
    right: 0;
    vertical-align: bottom;
}

.card__top,
.card__body {
    position: relative;
    z-index: 1;
}

.card__top {
    display: flex;
    justify-content: space-between;
}

.card__top-price,
.card__top-label {
    color: #fff;
    font-size: 1.4rem;
    line-height: normal;
}

.card__top-price {
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
}

.circle {
    --circle-width: 40px;
    --circle-size: 24px;
    width: var(--circle-width);
    height: var(--circle-size);
    position: relative;
}

.circle::before,
.circle::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
}

.circle::before {
    background-color: #fe6565;
    top: 0;
    left: 0;
}

.circle::after {
    background-color: #feef65;
    top: 0;
    right: 0;
}

.card__body {
    width: 176px;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px 12px;
}

.card__body-value,
.card__body-label {
    color: #fff;
    font-size: 1rem;
    line-height: normal;
}

.card__body-value {
    font-size: 1.2rem;
    font-weight: 600;
}

.phone__body {
    margin-top: 24px;
}

.phone__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone__heading {
    color: #31456a;
    font-weight: 600;
    line-height: normal;
}

.phone__item {
    margin-top: 28px;
    display: flex;
    column-gap: 14px;
    align-items: center;
}

.phone__item:nth-child(2) .phone__item-icon {
    background-color: #da64641a;
}

.phone__item:nth-child(3) .phone__item-icon {
    background-color: #439f901a;
}

.phone__item:nth-child(4) .phone__item-icon {
    background-color: #7264d61a;
}

.phone__item-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4ab5e31a;
}

.phone__item-body {
    flex: 1;
}

.phone__row.top {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone__row.bottom {
    margin-top: 6px;
    color: #696d76;
    font-size: 1rem;
    line-height: 1;
}

.phone__decor {
    display: flex;
    align-items: center;
    position: absolute;
    animation: fade 1s linear infinite alternate;
}

.phone__decor-1 {
    top: 113px;
    left: -100px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.phone__decor-1-amount,
.phone__decor-1-desc {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 8px;
}

.phone__decor-1-amount {
    margin-left: 19px;
    color: #4ab5e3;
    font-weight: 400;
}

.phone__decor-2 {
    bottom: 61px;
    right: -74px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.phone__decor-2-amount {
    margin-left: 11px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone__decor-2-desc {
    margin-left: 11px;
    margin-top: 5px;
    color: #fff;
    font-size: 8px;
    line-height: 1;
}

.phone__decor-3 {
    top: 127px;
    right: -174px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
    flex-direction: column;
    justify-content: center;
}

.phone__decor-3-percent {
    margin-top: -7px;
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: normal;
}

.phone__decor-3-desc {
    margin-top: -16px;
    color: #fff;
    line-height: normal;
}

/* How is works */
.works {
    padding: 80px 0;
}

.works__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works__media {
    width: 48.72%;
}

.works__media-wrap,
.works__media-img-wrap {
    position: relative;
}

.works__media-img-wrap {
    width: 82.5%;
    position: relative;
    display: flex;
    justify-content: center;
}

.works__media-img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/workdecor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 88%;
}

.works__media-img {
    width: 97%;
    position: relative;
    z-index: 1;
}

.works__decor {
    position: absolute;
    background-color: #fff;
    display: flex;
    animation: fade 1s linear infinite alternate;
}

.works__decor:first-of-type {
    top: 76px;
    right: 162px;
    z-index: 1;
    background-color: #7264d6;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.works__decor:first-of-type img {
    position: relative;
    z-index: 1;
}

.works__decor:first-of-type::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
}

.works__decor:nth-of-type(2) {
    z-index: 1;
    bottom: 96px;
    right: 0;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    padding: 15px;
}

.works__decor-icon {
    position: relative;
    background-color: #4ab5e3;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__decor-icon::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.works__decor-icon::after {
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    content: url(../icons/workscheck-icon.svg);
}

.works__decor-body {
    margin-left: 10px;
}

.works__decor-heading {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.works__decor-desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
    line-height: normal;
}

.works__content {
    width: 40.2%;
}

.works__body {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.works__item-heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.works__item-desc {
    margin-top: 16px;
    color: #696d76;
    line-height: 1.75;
}
/* Feature */
.feature {
    padding: 80px 0;
}

.feature__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 160px;
    align-items: center;
}

.feature__desc {
    width: 80.34%;
}

.feature__list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.feature__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #7264d6;
    flex-shrink: 0;
}

.feature__btn {
    margin-top: 38px;
    min-width: 149px;
}

.feature-card {
    width: 82.4%;
    padding: 38px;
}

.feature-card::before {
    content: url(../images/fedecor1.svg);
    left: 0;
}

.feature-card::after {
    content: url(../images/fedecor2.svg);
}

.feature-card__top-label {
    font-size: 2.4rem;
}

.feature-card__top-price {
    font-size: 3.2rem;
    margin-top: 10px;
}

.feature-circle {
    --circle-width: 80px;
    --circle-size: 48px;
}

.feature-card__body {
    margin-top: 78px;
    width: 336px;
}

.feature-card__body-label {
    font-size: 2rem;
}

.feature-card__body-value {
    font-size: 2.2rem;
}

.feature__decor {
    display: flex;
    position: absolute;
    animation: fade 1s linear infinite alternate;
}

.feature__decor-1 {
    top: -48px;
    right: 0;
    align-items: center;
    column-gap: 14px;
    background-color: #fff;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature__decor-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #da64641a;
}

.feature__decor-1-content {
    flex: 1;
}

.feature-row {
    display: flex;
    justify-content: space-between;
}

.feature-row:first-child {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.feature-row:nth-child(2) {
    margin-top: 4px;
    color: #696d76;
    font-size: 1rem;
    line-height: normal;
}

.feature__media-wrap {
    position: relative;
}

.feature__decor-2 {
    bottom: -55px;
    right: 8px;
    padding: 15px;
    width: 120px;
    border-radius: 16px;
    background: #439f90;
    flex-direction: column;
}

.feature__decor-2-img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.feature__decor-2-title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    line-height: normal;
}

.feature__decor-2-value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.feature__content:nth-of-type(2) .feature__content-wrap {
    width: 80.34%;
    margin-left: auto;
}

.feature__content:nth-of-type(2) .feature__desc {
    width: 100%;
}

.feature__media-block {
    width: 80.34%;
    display: flex;
    justify-content: center;
    position: relative;
}

.feature__media-block::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 71%;
    background-image: url(../images/febc-img.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.feature__media-img {
    position: relative;
    z-index: 1;
    width: 88%;
}

.feature__payment {
    left: 263px;
    bottom: 57px;
    z-index: 1;
    display: block;
    border-radius: 10px;
    width: 281px;
    padding: 28px;
    background-color: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature__payment::after {
    position: absolute;
    content: url(../icons/payment-decor.svg);
    width: 90px;
    height: 90px;
    background-color: #7264d6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -35px;
    right: -26px;
}

.feature__payment-heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.feature__payment-options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
.feature__payment-option {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: #f2f2fa;
}

.feature__payment-option:last-child {
    color: #212832;
    font-size: 3rem;
    font-weight: 500;
    background-color: #f9ea63;
}

/* Testimonial */
.testimonial {
    padding: 80px 0;
}

.testimonial .container {
    overflow: hidden;
}

.testimonial__top {
    width: 435px;
    margin: 0 auto;
    text-align: center;
}

.cta__label,
.testimonial__top .section-label {
    justify-content: center;
}

.cta__desc,
.testimonial__top .section-desc {
    font-size: 1.6rem;
    margin-top: 18px;
}

.testimonial__body {
    margin-top: 70px;
    padding-bottom: 44px;
    position: relative;
}

.testimonial__list {
    display: flex;
}

.testimonial__item {
    width: 48.72%;
    flex-shrink: 0;
}

.testimonial__item:nth-child(2) .testimonial__item-wrap {
    background: #439f90;
}

.testimonial__item-box {
    width: 99%;
    margin: 0 auto;
    position: relative;
    padding: 42px 28px;
    border-radius: 8px;
    background-color: #fff;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    transition: filter 0.25s linear;
    filter: drop-shadow(0 0 1px #a8a9ab);
}

.testimonial__item-box::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -120px;
    transform: translateX(-50%);
    display: block;
    border-width: 60px 40px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.testimonial__item-box:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial__item-info {
    margin-top: 96px;
    text-align: center;
}

.testimonial__item-info a {
    display: inline-block;
}

.testimonial__item-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
}

.testimonial__item-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.testimonial__item-name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.testimonial__item-title {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.testimonial__body .swiper-pagination {
    bottom: -2px;
}

.swiper-pagination-bullet {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
}

.swiper-pagination-bullet-active {
    background-color: #7264d6;
    border-color: #7264d6;
}

/* Blog */
.blog {
    padding: 80px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    margin-top: 18px;
    width: 435px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__top-btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    padding: 28px;
    display: flex;
    column-gap: 22px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: all 0.2s linear;
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.blog-item__img {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: inherit;
}

.blog-item__time {
    margin-top: 10px;
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog-item__heading {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__more {
    margin-top: 20px;
    color: #696d76;
    line-height: 1.625;
    transition: color 0.2s ease-in-out;
}

.blog-item__more:hover {
    color: #7264d6;
}
/* Cta */
.cta {
    padding: 80px 0 100px;
}

.cta__inner {
    text-align: center;
    background-color: #7264d6;
    border-radius: 24px;
    padding: 100px 0;
    position: relative;
}

.cta__desc,
.cta__heading,
.cta__label {
    color: #fff;
}

.cta__desc {
    width: 435px;
    margin: 18px auto 0;
}

.cta-download {
    display: flex;
    margin-top: 18px;
    justify-content: center;
    column-gap: 16px;
}

.cta-download__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 182px;
    height: 64px;
    background-color: #fff;
}

.cta__decor {
    position: absolute;
}

.cta__decor:first-of-type {
    top: 49px;
    left: 112px;
}

.cta__decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.cta__decor:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
}

.cta__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
}

/* Footer */
.footer {
    background-color: #fafbff;
    padding-top: 100px;
}

.footer__body {
    display: grid;
    grid-template-columns: 0.66fr 0.63fr 0.62fr 1fr;
}

.footer__col {
}

.footer__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__list {
    margin-top: 24px;
}

.footer__desc,
.footer__link {
    color: #6a6e78bf;
    font-size: 1.8rem;
    line-height: 1.67;
}

.footer__link:hover {
    color: #6a6e78;
}

.footer__list li + li {
    margin-top: 12px;
}

.footer__desc {
    margin-top: 24px;
}

.footer__form {
    margin-top: 48px;
}

.footer__form-wrap {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.footer__input {
    padding: 0 12px;
    flex-shrink: 0;
    width: 270px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    color: #68686b;
    outline: none;
}

.footer__input::placeholder {
    color: rgba(142, 145, 154, 0.7);
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__btn {
    --height: 52px;
    border-radius: 6px;
}

.footer__row {
    margin: 54px 0 28px;
    display: flex;
    column-gap: 100px;
}

.footer__row a {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.copyright {
    padding: 28px 0;
    text-align: center;
    background: #7264d6;
}

.copyright__desc {
    color: #fff;
    line-height: 1.75;
}
